<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="userName">
                    <span class="input-label">Username</span>
                    <input type="email" placeholder="abc@xyz.com">
                </label>
                <label class="item item-input" name="psswd">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="********">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="menu" id="login-button5" class="button button-positive  button-block">Log in</a>
            <a ui-sref="signup" id="login-button6" class="button button-positive  button-block button-clear">Don't have an account? Sign up now!</a>
        </form>
    </ion-content>
</ion-view>