<ion-view title="Menu">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 300px; height: 36px;"></div>
        <a ui-sref="pictureCapture" id="menu-button11" style="border-radius:2px 2px 2px 2px;" class="button button-positive  button-block icon-right ion-android-camera">Take a picture</a>
        <div class="spacer" style="width: 300px; height: 61px;"></div>
        <a ui-sref="videoCall" id="menu-button12" style="border-radius:2px 2px 2px 2px;" class="button button-positive  button-block icon-right ion-videocamera">Make a video call</a>
    
        <div class="spacer" style="width: 300px; height: 61px;"></div>
        <a ui-sref="accountSettings" id="menu-button13" style="border-radius:2px 2px 2px 2px;" class="button button-positive  button-block icon-right ion-android-settings">Account Settings</a>
    </ion-content>
</ion-view>