<ion-view title="Signup">
    <ion-content class="padding has-header">

        <div class="list">
            <label class="item item-input">
                <span class="input-label">Your Username</span>
                <input type="text" ng-model="username">
            </label>
        </div>
        <a ui-sref="videoCall" id="vlogbutton" ng-click="login()" style="border-radius:2px 2px 2px 2px;" class="button button-positive  button-block icon-right ion-android-settings">Login</a>

    </ion-content>
</ion-view>